doctype html
html
    head
        meta(charset='UTF-8')
        title Article #{_id}
        link(rel='stylesheet', href='/css/styles.css')
        link(href='https://fonts.googleapis.com/css?family=Noto+Serif|Roboto&display=swap',rel='stylesheet')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons',rel='stylesheet')

    body

        -function prettyDate(date){

          -var d = date.day;
          -var m = date.month;
          -var y = date.year;
          -return d+' '+m+', '+y;
        -}

        div.title !{title}

        span.author #{author.name}
        span.date #{prettyDate(date)}
        img(src=featured_media).featured

        span.content !{content}
        span.share-webview
          span.share-webview-inner
            a.share-link-footer(href='/posts/render/' + _id + '/share')
              i.material-icons.share-icon share
              span &nbsp&nbspShare This Article
